<!DOCTYPE html>
<html lang="en">
<head>
	<title>Tableau de Mendeleiev</title>
	<style>
		table {    width: 100%;}
		td { border: 1px solid black; padding:1px;}
	</style>
</head>
<body>
	<h1>Resultat de EX03</h1>
	{%  if records  %}
	
	<table>
		<tr>
	    {%  for record in records  %}
		<tr>
	    <td>{{ record.0 }}</td><td>{{ record.1 }}</td><td>{{ record.2 }}</td><td>{{ record.3 }}</td><td>{{ record.4 }}</td><td>{{ record.5 }}</td>
		</tr>
	    {% endfor %}
	</table>
	
	{% else %}
	<h3>No data available</h3>
	
	{%  endif %}
</body>
</html>
